<form action="/addProduct" method="POST" encType="multipart/form-data">
    <img src="./img/amazon-logo-black.png" alt="amazon-logo" class="main-logo">
    <section class="addProduct-info">
        <h2>Add Product</h2>

        {{#each errorMessages}}
        <div class="errors">{{this}}</div>
        {{/each}}

        <label for=name>Product Name</label><br>
        <input type="text" id="name" name="name" placeholder="Please enter the product name" value="{{retainData.name}}"><br>
        <label for=price>Product Price</label><br>
        <input type="text" id="price" name="price" placeholder="Please enter Product Price" value="{{retainData.price}}"><br>
        <label for=description>Product Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10">{{retainData.description}}</textarea><br>

        <label for="category">Product Category</label>
        <select name="category" id="category">
            <option value="default" selected>{{retainData.category}}</option>
            <option value="Camera,photo & video">Camera,photo & video</option>
            <option value="Cell Phone & Accessories">Cell Phone & Accessories</option>
            <option value="Headphones">Headphones</option>
            <option value="Computers & Accessories">Computers & Accessories</option>
            <option value="Portable Audio & Video">Portable Audio & Video</option>
        </select><br>

        <label for="quantity">Product Quantity</label>
        <select name="quantity" id="quantity">
            <option value="default" selected>{{retainData.quantity}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br><br>

        <label for="bestseller">Add to Bestseller?</label>
        <label class="radio-inline">
            <input type="radio" name="bestseller" id="bestsellerYes" value="yes" checked>Yes
        </label>
        <label class="radio-inline">
            <input type="radio" name="bestseller" id="bestsellerNo" value="no">No
        </label>

        <div class="img-box">
            <label for=productimg>File Upload</label><br>
            <input type="file" id="productimg" name="productimg"><br>
        </div>


        <button type="submit" class="addProduct-btn">Submit</button>

    </section>

</form>