<section class="section-cart row">
    <div class="cart-box">
        <div>
            <img src="/uploads/{{productimg}}" alt="ps4" class="cart-img">
        </div>

        <article class="cart-details">

            <ul>
                <li><a href="">{{name}}</a></li>
                <li class="cart-price">Price : <span>CAD$ {{price}}</span></li>
                <li class="cart-desc">{{description}}</li>
                <li class="cart-stock">In Stock</li>
                <li class="cart-quantity">
                    <label for="cart-quantity">Quantity</label>
                    <select name="cart-quantity" id="cart-quantity">
                        <option value="1" {{#compare1 quantity}} {{select}} {{/compare1}}>1</option>
                        <option value="2" {{#compare2 quantity}} {{select}} {{/compare2}}>2</option>
                        <option value="3" {{#compare3 quantity}} {{select}} {{/compare3}}>3</option>
                        <option value="4" {{#compare4 quantity}} {{select}} {{/compare4}}>4</option>
                        <option value="5" {{#compare5 quantity}} {{select}} {{/compare5}}>5</option>
                    </select></li>
                <li class="cart-btn"><img src="/img/cart.png" alt="cart"><a href="">Place your order</a></li>
            </ul>

        </article>
    </div>

    <div class="price-box">
        <ul>
            <li>Order Summary</li>
            <li class="items-order">Items: 12</li>
            <li>Total Order: <span>CDN$ {{#Totalprice quantity price}} {{select}} {{/Totalprice}}</span></li>
        </ul>
    </div>
</section>