<form action="/update/{{_id}}?method=PUT" method="POST" encType="multipart/form-data">
    <img src="/img/amazon-logo-black.png" alt="amazon-logo" class="main-logo">
    <section class="addProduct-info">
        <h2>Update Product</h2>

        {{#each errorMessages}}
        <div class="errors">{{this}}</div>
        {{/each}}

        <label for=name>Product Name</label><br>
        <input type="text" id="name" name="name" placeholder="Please enter the product name" value="{{name}}"><br>
        <label for=price>Product Price</label><br>
        <input type="text" id="price" name="price" placeholder="Please enter Product Price" value="{{price}}"><br>
        <label for=description>Product Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10">{{description}}</textarea><br>

        <label for="category">Product Category</label>
        <select name="category" id="category">
            <option value="default" selected>{{category}}</option>
            <option value="Camera,photo & video">Camera,photo & video</option>
            <option value="Cell Phone & Accessories">Cell Phone & Accessories</option>
            <option value="Headphones">Headphones</option>
            <option value="Computers & Accessories">Computers & Accessories</option>
            <option value="Portable Audio & Video">Portable Audio & Video</option>
        </select><br>

        <label for="quantity">Product Quantity</label>
        <select name="quantity" id="quantity">
            <option value="1" {{#compare1 quantity}} {{select}} {{/compare1}}>1</option>
            <option value="2" {{#compare2 quantity}} {{select}} {{/compare2}}>2</option>
            <option value="3" {{#compare3 quantity}} {{select}} {{/compare3}}>3</option>
            <option value="4" {{#compare4 quantity}} {{select}} {{/compare4}}>4</option>
            
            
        </select><br><br>

        <label for="bestseller">Add to Bestseller?</label>
        <label class="radio-inline">
            <input type="radio" name="bestseller" id="bestsellerYes" value="yes" checked>Yes
        </label>
        <label class="radio-inline">
            <input type="radio" name="bestseller" id="bestsellerNo" value="no">No
        </label>

        <label for=productimg>File Upload</label><br>
        <input type="file" id="productimg" name="productimg" value="{{productimg}}"><br>


        <button type="submit" class="addProduct-btn">Submit</button>

    </section>

</form>