<section class="product-box row">

    <article class="product-bar-list">

        <label for="category">Product Category</label>
        <select name="category" id="category" onchange="retain()">
            <option value="All Categories" selected>All Categories</option>
            <option value="Camera,photo & video">Camera,photo & video</option>
            <option value="Cell Phone & Accessories">Cell Phone & Accessories</option>
            <option value="Headphones">Headphones</option>
            <option value="Computers & Accessories">Computers & Accessories</option>
            <option value="Portable Audio & Video">Portable Audio & Video</option>
        </select><br>

    </article>

    <article class="product-best">

        {{#each data}}
        <article class="product-view">

            <ul>
                <li><a href="/product-detail/{{this.id}}"><img src="./uploads/{{this.productimg}}" alt="camera"
                            class="product-photo"></a></li>
                <li><a href="/product-detail/{{this.id}}" class="product-desc">{{this.name}}</a></li>
                <li>
                    <ul class="rating-box">
                        <li><img src="./img/rating-4.png" alt="star rating" class="rating"></li>
                        <li>123</li>
                    </ul>
                </li>

                <li>
                    <ul class="product-price">
                        <li><a href="/product-detail/{{this.id}}">CDN$ {{this.price}}</a></li>
                        <li><img src="./img/prime.png" alt="prime logo" class="prime-logo"></li>
                    </ul>
                <li>
            </ul>

        </article>
        {{/each}}

    </article>
</section>