<section class="product-box row">
    <article>
        <ul>
            <li><a href="">Electronics</a></li>
            <li><a href="">Audio & Home Theatre</a></li>
            <li><a href="">Camera,photo & video</a></li>
            <li><a href="">GPS & Navigation</a></li>
            <li><a href="">Office Electronics</a></li>
            <li><a href="">Accessories & Supplies</a></li>
            <li><a href="">Computers & Accessories</a></li>
            <li><a href="">eBook Reader & Accessories</a></li>
            <li><a href="">Cell Phone & Accessories</a></li>
            <li><a href="">Headphones</a></li>
            <li><a href="">Poertable Audio & Video</a></li>
            <li><a href="">Radio Communication</a></li>
            <li><a href="">Security and surveillance</a></li>
            <li><a href="">Telephone and Accessories</a></li>
            <li><a href="">Televisions & Video</a></li>
        </ul>
    </article>

    <article class="product-best">
        {{#each product}}
        <article class="product-view">
            <ul>
                <li><a href=""><img src="./img/{{this.imgPath}}" alt="camera" class="product-photo"></a></li>
                <li><a href="" class="product-desc">{{this.description}}</a></li>
                <li>
                    <ul class="rating-box">
                        <li><a href=""><img src="./img/{{this.ratingPath}}" alt="star rating" class="rating"></a></li>
                        <li><a href "">{{this.reviews}}</a></li>
                    </ul>
                </li>
            
                <li>
                    <ul class="product-price">
                        <li><a href="">CDN$ {{this.price}}</a></li>
                        <li><a href=""><img src="./img/prime.png" alt="prime logo" class="prime-logo"></a></li>
                    </ul>
            </ul>
        </article>
        {{/each}}
 {{!-- <article class="product-view">
            <ul>
                <li><a href=""><img src="./img/camera.png" alt="camera" class="product-photo"></a></li>
                <li><a href="" class="product-desc">All-new Echo (3rd Gen) - Smart speaker with Alexa - Charcoal</a></li>
                <li>
                    <ul class="rating-box">
                        <li><a href=""><img src="./img/rating-4.5.png" alt="4.5 star rating" class="rating"></a></li>
                        <li>1231</li>
                    </ul>
                </li>
            
                <li>
                    <ul class="product-price">
                        <li><a href="">CDN$ 20.0</a></li>
                        <li><a href=""><img src="./img/prime.png" alt="prime logo" class="prime-logo"></a></li>
                    </ul>
            </ul>
        </article>
         <article class="product-view">
            <ul>
                <li><a href=""><img src="./img/camera.png" alt="camera" class="product-photo"></a></li>
                <li><a href="" class="product-desc">All-new Echo (3rd Gen) - Smart speaker with Alexa - Charcoal</a></li>
                <li>
                    <ul class="rating-box">
                        <li><a href=""><img src="./img/rating-4.5.png" alt="4.5 star rating" class="rating"></a></li>
                        <li>1231</li>
                    </ul>
                </li>
            
                <li>
                    <ul class="product-price">
                        <li><a href="">CDN$ 20.0</a></li>
                        <li><a href=""><img src="./img/prime.png" alt="prime logo" class="prime-logo"></a></li>
                    </ul>
            </ul>
        </article>
          <article class="product-view">
            <ul>
                <li><a href=""><img src="./img/camera.png" alt="camera" class="product-photo"></a></li>
                <li><a href="" class="product-desc">All-new Echo (3rd Gen) - Smart speaker with Alexa - Charcoal</a></li>
                <li>
                    <ul class="rating-box">
                        <li><a href=""><img src="./img/rating-4.5.png" alt="4.5 star rating" class="rating"></a></li>
                        <li>1231</li>
                    </ul>
                </li>
            
                <li>
                    <ul class="product-price">
                        <li><a href="">CDN$ 20.0</a></li>
                        <li><a href=""><img src="./img/prime.png" alt="prime logo" class="prime-logo"></a></li>
                    </ul>
            </ul>
        </article>
         <article class="product-view">
            <ul>
                <li><a href=""><img src="./img/camera.png" alt="camera" class="product-photo"></a></li>
                <li><a href="" class="product-desc">All-new Echo (3rd Gen) - Smart speaker with Alexa - Charcoal</a></li>
                <li>
                    <ul class="rating-box">
                        <li><a href=""><img src="./img/rating-4.5.png" alt="4.5 star rating" class="rating"></a></li>
                        <li>1231</li>
                    </ul>
                </li>
            
                <li>
                    <ul class="product-price">
                        <li><a href="">CDN$ 20.0</a></li>
                        <li><a href=""><img src="./img/prime.png" alt="prime logo" class="prime-logo"></a></li>
                    </ul>
            </ul>
        </article>
         <article class="product-view">
            <ul>
                <li><a href=""><img src="./img/camera.png" alt="camera" class="product-photo"></a></li>
                <li><a href="" class="product-desc">All-new Echo (3rd Gen) - Smart speaker with Alexa - Charcoal</a></li>
                <li>
                    <ul class="rating-box">
                        <li><a href=""><img src="./img/rating-4.5.png" alt="4.5 star rating" class="rating"></a></li>
                        <li>1231</li>
                    </ul>
                </li>
            
                <li>
                    <ul class="product-price">
                        <li><a href="">CDN$ 20.0</a></li>
                        <li><a href=""><img src="./img/prime.png" alt="prime logo" class="prime-logo"></a></li>
                    </ul>
            </ul>
        </article> --}}
    </article>
</section>